body{
  text-align: center;
  height: 100%;
  font-family: monospace;
  background-color:papayawhip;
}


/*STYLING FOR NAVIGATION BAR!*/
.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
}
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 100%;
}
.list {
    color: black;
    list-style: none;
    padding-left: 0px;
}
.list::first-line, h5 {
    color: black;
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid black;
    color: black;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}



/****style newsfeed divs****/
.newsfeed{
  margin: auto; 
  align-content: center;
  border-style: groove;
  border-color: #9197E2;
  width: 75%; 
  height: 250px; 
  background: -webkit-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C5A2AB, #ffebcd, #9197E2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C5A2AB, #ffebcd, #9197E2);
}